body {
    color: #777;
}

/*
This is the parent `<div>` 
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 0 0 20px 0;
    font-weight: 300;
    color: #888;
}


/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        left: 0;
    }

}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
}